#lw-floating-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #759be0;
  color: white;
  border: none;
  padding: 10px;
  font-size: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 99999;
}

#lw-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.15);
  cursor: pointer;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lw-overlay-iframe {
  position: fixed;
  bottom: 140px;
  right: 50px;

  width: 430px;
  height: 800px;
  border: none;
}
