#lw-floating-button {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #07155f;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
  outline: none;
}

#lw-floating-button:focus {
  outline: 2px solid #07155f;
}

#lw-floating-button:hover {
  transform-origin: center;
  width: 66px;
  height: 66px;
  bottom: calc(20px - 3px);
  right: calc(20px - 3px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#lw-floating-image {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s ease-in-out;
}

#lw-floating-button:hover #lw-floating-image {
  width: 1.625rem;
  height: 1.625rem;
}

#lw-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* This is likely for the full-page overlay, which we may not want to use. */

#lw-overlay-iframe {
  position: fixed;
  bottom: 65px;
  right: 16px;
  width: 430px;
  height: 800px;
  border: none;
}
